BINARY_PATH_APP=/home/plante_server.jar
DB_USER_PASSWORD=123456
DB_FILES_PATH=/home/plante_db
JWT_SECRET=aAaAaAaAaAaAaAaAaAaA
OSM_PROD_USER=plante.user@protonmail.com
OSM_PROD_PASSWORD=123456
OSM_TESTING_USER=plante.user@protonmail.com
OSM_TESTING_PASSWORD=123456
OFF_PROD_USER=planteuser
OFF_PROD_PASSWORD=123456
OFF_TESTING_USER=plante_integration_tests
OFF_TESTING_PASSWORD=123456
AWS_S3_BUCKET_NAME=plante.files
AWS_S3_REGION="eu-central-1"
AWS_S3_ACCESS_KEY_ID=KEYID
AWS_S3_SECRET_ACCESS_KEY="ACCESS/KEY"
BACKUPS_DIR_PATH=/home/plante_db_backups
BACKUPS_HOUR_MINUTE="17:50"
IOS_PRIVATE_KEY_PATH=/home/ios_private_key.p8
LOGS_DIR=/home/server_logs
METRICS_ENDPOINT=rrtrvgenwolxjvbqzrwarbxfgxrmkpokandvrlcl
GRAFANA_ADMIN_PASSWORD=123456
